.Controls {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  padding: 20px;
}

.Controls-basket {
  margin-right: 20px;
}

.Controls-basket span {
  margin-left: 15px;
  font-weight: 700;
}